.experience {
  display: flex;
  flex-direction: column;
  .company {
    margin-bottom: 16px;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow:  0 24px 64px 0 rgba(0, 0, 0, 0.02);
    border-radius: 12px;
    .companyHeaderWrapper {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .image {
        padding: 8px;
        border-radius: 50%;
        box-shadow:  0 24px 64px 0 rgba(0, 0, 0, 0.02);
        margin-right: 16px;
      }
      .companyInfo {
        h4 {
          color: #636061;
          font-size: 18px;
          margin-bottom: 8px;
          font-weight: bold;
        }
        p {
          color: #C8D1DC;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
    .companyBodyWrapper {
      p {
        color: #636061;
        font-size: 16px;
        margin-bottom: 8px;
      }
      h5 {
        color: #636061;
        margin-bottom: 8px;
        font-size: 18px;
        text-decoration: underline;
      }
      ul {
        li {
          color: #636061;
          margin-bottom: 8px;
        }
      }
    }
  }
}